@model IEnumerable<Fixturio.Models.DisplayElement>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform AJAX post
                $.post("/ShoppingCart/RemoveFromCartFromBrowse", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteID).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteID).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });
</script>
<script>
    $('#btnAjax').click(function () {
        var element = $(this).attr("data-id")
        $.ajax({
            url: '/ShoppingCart/ItemCount',
            contentType: 'application/html; charset=utf-8',
            data: { id: element },
            type: 'GET',
            dataType: 'html'
        })
        .success(function (result) {
            $('#count').html(result);
        })
        .error(function (xhr, status) {
            alert(status)
        })
    });
</script>

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            Details
        </th>
        <th>
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (item.FilePaths.Any(f => f.FileType == Fixturio.Models.FileType.Photo))
        {
            <td>
                <img src="~/images/@item.FilePaths.First(f => f.FileType == Fixturio.Models.FileType.Photo).FileName" alt="" width="150" />
            </td>
        }
        <td>
            <div>
                <p>Model Number: @Html.DisplayFor(modelItem => item.ModelNumber)</p>
                <p>@Html.DisplayFor(modelItem => item.Name)</p>
                <p>Length: @Html.DisplayFor(modelItem => item.Length)</p>
                <p>Width: @Html.DisplayFor(modelItem => item.Width)</p>
                <p>Height: @Html.DisplayFor(modelItem => item.Height)</p>
            </div>
        </td>
        <td>
            <div>
                <p>@{ Html.RenderAction("ItemCount", "ShoppingCart", new { id = item.DisplayElementID }); }</p>
            </div>
            <div>
                <a href="#" class="RemoveLink btn btn-danger" data-id="@item.DisplayElementID">Remove</a>
                @Html.ActionLink("Add", "AddToCart", "ShoppingCart", new { id = item.DisplayElementID }, new { @class = "btn btn-success" })
            </div>
        </td>
    </tr>
}

</table>
